@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    background-color: #F7F6BB;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Card {
    background: #FF3EA5;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 500px;
    width: 420px;
    
}
.img{
    border-radius: 100%;
    margin-top: 60px;
}
/*.Card .Language ul {
    list-style: none;
}
*/